script(src="/js/setup.js")
section#setupModule.module.container.mt-5
    h1.text-center(style="color: white") Set up Ticket Category
    .text-center
        .btn.btn-warning(type="button", onclick=`setup("${reqParams.id}", "${user.id}")`, data-confirm="Notice: Confirming this setup will create a Ticket Support role and a TICKET category (unless either of them already exist) in your server.")
            | Setup