link(rel='stylesheet', href='/css/overview.css')
section#setupModule.module.container
    .jumbotron.pb-0.bg-transparent(style={color: 'white'})
        h1.display-6.text-center Set up Ticket Category
    p.text-center Coming soon!