@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&amp;display=swap");

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-primary);
    font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}

.round {
    border-radius: 50% !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-1rem {
    font-size: 1.15rem !important;
    font-weight: 300;
}

.small {
    font-size: x-small;
    color: gray !important;
}

div.tooltip[role="tooltip"] {
    font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 13px;
    color: white;
    user-select: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #222;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::placeholder {
    user-select: none;
}

/* jBox custom css */
.jBox-container {
    border-radius: 15px !important;
    background-color: none;
}

.jBox-content {
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.jBox-Confirm-button-submit {
    background-color: var(--color-green) !important;
    color: #222 !important;
}
.jBox-Confirm-button-cancel {
    background-color: var(--background-tertiary) !important;
    color: var(--text-primary) !important;
}
.jBox-Confirm-button {
    transition: var(--transition-fast);
}
.jBox-Confirm-button:hover {
    filter: brightness(0.8);
}
.jBox-Confirm-button:active {
    filter: brightness(0.6);
}