:root {
    --theme-primary: #CCC;
    --background-primary: #343A40;
    --background-secondary: #373d42;
    --background-tertiary: #41474d;
    
    --text-primary: #ccc;

    --color-green: #0ebe46;
    --color-red: #ED4245;
    --color-yellow: #FEE75C;

    --transition-fast: 0.1s ease;
    --transition-md: 0.15s ease;
    --transition-slow: 0.2s ease;
}

p {
    color: var(--text-primary);
}